doctype html(lang='en')
html
  head
    meta(charset='utf-8')
    meta(name='description', content='Instantly join off-the-record chatrooms. No accounts and no signups. Nothing is stored on our servers. You will not be tracked.')
    meta(name='author', content='dontcreeponme')

    block meta

    block title

    link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Montserrat:400,700')
    link(rel='stylesheet', type='text/css', href='/css/custom-bootstrap.min.css')

    block stylesheets

  body
    block content

    script(type='text/javascript', src='//code.jquery.com/jquery-1.9.1.min.js')
    script(type='text/javascript', src='//code.jquery.com/ui/1.8.16/jquery-ui.min.js')
    script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')

    block scripts
