doctype html
html
	head
		title Chat
		link(rel="stylesheet", href="../style.css")
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
		script(src="/socket.io/socket.io.js")
		script(src="/script.js")
	body
		div.container#main
			div#chatEntries
			div.row#entries
				input(type='text')#messageInput
				div.btn-group
					button.btn#submit(data-loading-text="Send") Send
					button.btn.dropdown-toggle(data-toggle="dropdown")
						span.caret
					ul.dropdown-menu
						li
							a#edit(href="#modalPseudo", data-toggle="modal")
								i.icon-user
								| Change name
			div#userlistDiv
				p There's 
					span#usernum
					|  person/people here: 
					span#userlist
					| .
	div.modal.fade#modalPseudo
		div.modal-header
			h3 Choose a name
		div.modal-body
			p Choose a name :
			input(type='text')#pseudoInput
			div.alert.alert-error#alertPseudo
				| 
		div.modal-footer
			button.btn.btn-primary#pseudoSubmit Go chat
		div.modal-body
			p 	You're about to enter an off-the-record chat. Only the people in the room with you at the same time will recieve your messages. Nothing will be stored permanently on our servers. You are not being tracked.
