doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title Pick a pseudonym 
		link(rel="stylesheet", href="layout.css")
		link(rel="stylesheet", href="spectrum.css")
		link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="bootstrap.min.css")

	body
		audio(preload="auto")#notifySound
			source(src="notify.ogg")
			source(src="notify.wav")

	div.container
		div.jumbotron#pickUsername
			h2 Choose a pseudonym
			.row
				.col-md-10.col-lg-10.col-sm-10.col-xs-10.nopaddingRight
					input(type='text')#pseudoInput
				.col-md-2.col-lg-2.col-sm-2.col-xs-2.nopaddingLeft
					input(id='colorpicker')
			.row
				.alert.alert-dismissable.alert-danger#alertPseudo(style='display:none')
			.row
				.col-md-10.col-lg-10.col-sm-10.col-xs-10.nopaddingRight
					p 	You're about to enter an off-the-record chat. Only the people in the room with you will recieve your messages. Nothing will be stored on our servers. You are not being tracked.
			.row
				.col-md-12.col-lg-12.col-sm-12.col-xs-12
					strong Invite link - 
					input.copybox#chatURL(onClick="selectAll('chatURL')" readonly)
					input(type='text', style='display:none')#password
			.row
				.col-md-6.col-lg-6.col-sm-6.col-xs-6.nopaddingRight
					button.btn.btn-primary.btn-lg#pseudoSubmit Join

		div.container#main(style="display:none")
			.row
				.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-lg-8.col-md-offset-2.col-lg-offset-2
					#chatEntries
			.row
				.col-xs-11.col-sm-9.col-md-7.col-lg-7.nopaddingRight.col-sm-offset-1.col-md-offset-2.col-lg-offset-2
					input(type='textarea')#messageInput
				.col-md-1.col-lg-1.col-sm-1.col-xs-1.nopaddingLeft
					button#submit(data-loading-text="Send") 
						i.fa.fa-caret-right
			.row
				.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-lg-8.col-md-offset-2.col-lg-offset-2
					.pull-left#userlistDiv

		script(src='//code.jquery.com/jquery-1.9.1.min.js')
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
		script(src='/jquery.timeago.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
		script(src="/drop.js")
		script(src="/spectrum.js")
		script(src="/socket.io/socket.io.js")
		script(src="/sjcl.js")
		script(src="/script.js")
