doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title Pick a pseudonym 
		link(rel="stylesheet", href="base.css")
		link(rel="stylesheet", href="skeleton.css")
		link(rel="stylesheet", href="layout.css")
		link(rel="stylesheet", href="../spectrum.css")
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='http://timeago.yarp.com/jquery.timeago.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
		script(src="/drop.js")
		script(src="/colorpicker.js")
		script(src="/socket.io/socket.io.js")
		script(src="/script.js")
		script(src="/spectrum.js")

	body
		div.container.fade#modalPseudo
			.six.columns
				.row
					h3 Choose a pseudonym?
				.row
					.four.columns.alpha
						input(type='text')#pseudoInput
					.two.columns.omega
						input(id='colorpicker')
					div.alert.alert-error#alertPseudo
						| 
				.row
					p 	You're about to enter an off-the-record chat. Only the people in the room with you at the same time will recieve your messages. Nothing will be stored permanently on our servers. You are not being tracked.
				.row
					button.btn#pseudoSubmit Join
		div.container#main
			.sixteen.columns.alpha#chatEntries
			.row
				.fourteen.columns.alpha
					input(type='textarea')#messageInput
				.two.columns.omega
					div.btn-group
						button#submit(data-loading-text="Send") Send
			.row
				.fourteen.columns.alpha#userlistDiv |
				.columns.columns.omega
					ul
						li
							a#edit(onclick="changeUsername()")
								i.icon-user
								| Change name
						li
							
							a#edit(onclick="clearScreen()")
								i.eye-closed
									| Clear screen 

