doctypehtml
html
	head
		title Chat
		link(rel="stylesheet", href="style.css")
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
		script(src="/socket.io/socket.io.js")
	body
		div.container#main
			img(src='/dont-creep-flag.png', width='100%')
			p 	
			p	Almost any medium people use to communicate online - email, gchat, Facebook - is tracked by the party that runs it. Communications are stored permanently, even private ones, and users have no way of assuring their data has been permanently deleted.
			p	DCOM is a simple, multimedia-enabled chat that does not track you in any way. Your communications are encrypted through their transmission and never stored on our servers
			p 	go to dontcreepon.me/[anythinghere] to make a new chatroom. share that URL with whomever you'd like to chat with. 	
