doctypehtml
html
	head
		title Chat
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
	body
		div.container#main
			img(src='/dont-creep-flag.png', height='50%', width='50%')
			p 	
			p	DCOM is a simple chat app that does not track you in any way. Messages are never stored on our servers - they're transmitted only to people who are in the chatroom at the time that you sent your message.
			p 	Go to dontcreepon.me/[anythinghere] to make a new chatroom. Share that URL with whomever you'd like to chat with.
			p 
				| This project is open source and all code is 
				a(href='http://github.com/csmpls/dontcreeponme') right here
				| , do consider contributing if you'd like to see this software move forward.
