/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
l.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes fadeInLeft {0% {opacity: 0; -webkit-transform: translateX(-20px); }	100% {oprightacity: 1; -webkit-transform: translateX(0); } } @-moz-keyframes fadeInLeft {0% {opacity: 0; -moz-transform: translateX(-20px); } 100% {opacity: 1; -moz-transform: translateX(0); } } @-o-keyframes fadeInLeft {0% {opacity: 0; -o-transform: translateX(-20px); } 100% {opacity: 1; -o-transform: translateX(0); } } @keyframes fadeInLeft {0% {opacity: 0; transform: translateX(-20px); } 100% {opacity: 1; transform: translateX(0); } } .fadeInLeft {-webkit-animation-name: fadeInLeft; -moz-animation-name: fadeInLeft; -o-animation-name: fadeInLeft; animation-name: fadeInLeft; } @-webkit-keyframes fadeInRight {0% {opacity: 0; -webkit-transform: translateX(20px); } 100% {opacity: 1; -webkit-transform: translateX(0); } } @-moz-keyframes fadeInRight {0% {opacity: 0; -moz-transform: translateX(20px); } 100% {opacity: 1; -moz-transform: translateX(0); } } @-o-keyframes fadeInRight {0% {opacity: 0; -o-transform: translateX(20px); } 100% {opacity: 1; -o-transform: translateX(0); } } @keyframes fadeInRight {0% {opacity: 0; transform: translateX(20px); } 100% {opacity: 1; transform: translateX(0); } } .fadeInRight {-webkit-animation-name: fadeInRight; -moz-animation-name: fadeInRight; -o-animation-name: fadeInRight; animation-name: fadeInRight; } @-webkit-keyframes fadeOut {0% {opacity: 1;} 100% {opacity: 0;} } @-moz-keyframes fadeOut {0% {opacity: 1;} 100% {opacity: 0;} } @-o-keyframes fadeOut {0% {opacity: 1;} 100% {opacity: 0;} } @keyframes fadeOut {0% {opacity: 1;} 100% {opacity: 0;} } .fadeOut {-webkit-animation-name: fadeOut; -moz-animation-name: fadeOut; -o-animation-name: fadeOut; animation-name: fadeOut; }

/*html,body {
	background-color:#333533 !important;
}*/

body { background-color:transparent !important; }

html { min-height:100%; background: #39804a; /* Old browsers */ background: -moz-linear-gradient(top, #39804a 0%, #193746 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#39804a), color-stop(100%,#193746)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #39804a 0%,#193746 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #39804a 0%,#193746 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #39804a 0%,#193746 100%); /* IE10+ */ background: linear-gradient(to bottom, #39804a 0%,#193746 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39804a', endColorstr='#193746',GradientType=0 ); /* IE6-9 */
}

img {
  max-width:95%;
}

input, button {
	display: block;
	margin: 0.3em 0 0 0;
	padding: 0.5em 0 0.5em 0.7em;
	width: calc(100%);
	border: none;
	background: #D2D6D6;
	outline:none;
	color: rgba(1,1,1,0.8);
	font-size: 1em;
	opacity: 0.9;
}

.modal-backdrop {
  opacity:1;
}
.modal-backdrop {
  background-color:#ccc;
}

.modalText {
  padding:20px 5px;
  color:#f1f1f1;
}

#pickUsername {
  background:#ccc;
  padding:20px 40px;
  width:45%;
  margin:40px auto;
  min-width:300px;
}

.nopaddingLeft {
  padding-left:0px !important;
}
.nopaddingRight {
  padding-right:0px !important;
}

button {
  background: #AEAEAE;
	padding:0.5em 0;
}


/* #Page Styles
================================================== */

#modalPseudo {
	padding-top:40px;
}

.admin {
	padding-top:20px;
} .admin .meta {
	display:none;
}

#chatEntries {
	color:#f1f1f1;
	/*background-color:#D2D6D6;*/
	overflow:hidden;
}

.message {
	margin:12px 0;
	box-sizing: border-box;
	clear: both;
	float: left;
	display:block;
	max-width:80%;
	min-width:380px;
	word-wrap:break-word;
	overflow: visible;
	margin-left: 0;
	width:auto;
    -webkit-animation-name: fadeInRight; 
    -webkit-animation-duration: 50ms;
    float:left;
} .message:first-child {
	margin-top:23%;
} 
.message p {
	padding:0 20px;
	display:block;
}

.message a {
	color:#e3a;
}
.msgcolor {
	margin:0 12px 0 12px;
	height:40px;
	float:left;
	clear:both;
	display:block;
	width:9px;
	z-index:9;
}

.self .msgcolor {
	float: right;	
}

.self {
    -webkit-animation-name: fadeInRight; 
    -webkit-animation-duration: 300ms;
    float: right;
    text-align:right;
}

.self p {
	padding:0 15px 0 12px;
	display:block;
}


.encrypted {
  background-image: url("key.png");
  background-repeat: no-repeat;
  background-position: right top;
}


#messageInput, #submit {
	width:100%;
} #messageInput {

}


.meta {
	padding:6px 12px 0 12px;
	font-size:75%;
	color:#C8CCCE;
} .meta .self {
	padding-left:10px;
}

.date{
        color:#A6A6A6;
	visibility: hidden;
	font-style: italic;
	display:inline;
        padding: 0 10px;
}

.message:hover .date {
	display:inline;
	visibility:visible;
	-webkit-animation-name: fadeInRight; 
    -webkit-animation-duration: 250ms;
}

.message:hover .date .self {
        -webkit-animation-name: fadeInLeft;
    -webkit-animation-duration: 250ms;
}

#userlistDiv .span {
	float:left;
	text-align:left;
}

#userlistDiv {
	color:#c8ccce;
	float:left;
        padding: 10px 0;
}

ul {
list-style-type: none;
} ul a {
color:#C6C8CA;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
	#userlistDiv {
		padding-left:5px;
	}
	.pull-right {
		padding-right:5px;
	}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
